.featured {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.featuredItem {
  flex: 1;
  align-items: center;
  text-align: center;
  margin: 20px 20px;
  padding: 30px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    0px 1px 36px -4px rgba(0, 0, 0, 0.11);
  box-shadow: 0px 10px 13px -7px #000000, 0px 1px 36px -4px rgba(0, 0, 0, 0.11);
}

.featuredTitle {
  font-size: 20px;
}

.featuredMatchupContainer {
  margin: 10px 0px;
  display: flex;
  align-items: center;
}

.featuredPrediction {
  font-weight: bold;
  align-items: center;
  text-align: center;
}
